@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 120 61% 34%;
    --primary-foreground: 120 25% 95%;
    --secondary: 210 14% 88%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 14% 92%;
    --muted-foreground: 210 13% 47%;
    --accent: 210 14% 96%;
    --accent-foreground: 210 10% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 14% 85%;
    --input: 210 14% 85%;
    --ring: 120 61% 40%;
    --radius: 0.5rem;

    --sidebar-background: 210 10% 18%;
    --sidebar-foreground: 210 20% 96%;
    --sidebar-primary: 120 61% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 10% 28%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 10% 28%;
    --sidebar-ring: 120 61% 45%;
  }

  .dark {
    --background: 210 10% 12%;
    --foreground: 210 20% 96%;
    --card: 210 10% 18%;
    --card-foreground: 210 20% 96%;
    --popover: 210 10% 18%;
    --popover-foreground: 210 20% 96%;
    --primary: 120 61% 40%;
    --primary-foreground: 120 25% 95%;
    --secondary: 210 10% 28%;
    --secondary-foreground: 210 20% 96%;
    --muted: 210 10% 28%;
    --muted-foreground: 210 13% 65%;
    --accent: 210 10% 28%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 28%;
    --input: 210 10% 28%;
    --ring: 120 61% 45%;
    
    --sidebar-background: 210 10% 9%;
    --sidebar-foreground: 210 20% 96%;
    --sidebar-primary: 120 61% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 10% 18%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 10% 18%;
    --sidebar-ring: 120 61% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
